.mt-5 {
    margin-top: 5rem !important;
  }
  .headingColor {
    color: var(--mainColor2);
  }
  .star .after {
    background-color: var(--mainColor2);
  }
  .innerImg img {
    width: 100%;
    border-radius: 10px;
  }
  .photo img {
    width: 600px;
  }
  @media screen and (max-width: 685px) {
    .photo img {
      width: 88%;
    }
  }
  .pointer {
    cursor: pointer;
  }
.layer {
    color: white;
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 153, 204, 0.882);
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s;
  }
  .innerImg:hover .layer {
    opacity: 1;
  }