<!-- <p>about works!</p> -->

<main class="text-center bgMainColor py-5 mt-5 margin-top: 94px in-height: calc(-114px + 100vh)">
    <div class="container-sm py-5">
        
        <h1 class="fw-bold pt-5">about component</h1>
        <div class="star">
            <div class="after"></div>
            <i class="fa-solid fa-star mx-3"></i>
            <div class="after"></div>
        </div>
        <div _ngcontent-unu-c7="" class="container"><div _ngcontent-unu-c7="" class="row px-5"><div _ngcontent-unu-c7="" class="col-md-6 ps-md-5"><p _ngcontent-unu-c7=""> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p></div><div _ngcontent-unu-c7="" class="col-md-6 pe-5"><p _ngcontent-unu-c7=""> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p></div></div></div>
    </div>
</main>


